In [1]:
import numpy as np
import pandas as pd
import psycopg2 as ps2
from sqlalchemy import create_engine

In [2]:
def connectToPosgres(connection_string='postgresql://wjqioehfjbhsdj:w1^lso3UBJ*8s!Cv@uplifthero2.cfzekqlrgx9n.us-east-1.rds.amazonaws.com:5432/statewa'):
    print 'PostgresSQL is all good brother'
    return create_engine(connection_string)

In [3]:
conn = connectToPosgres()

PostgresSQL is all good brother

In [4]:
query2 = ("""
SELECT 
    date_trunc('day', d.sessiontime)       AS date
    , p.strain_display_name                AS product_name
    , p.generic_strain_id                  AS product_id
    , ROUND(SUM(price))                    AS ttl_sales
    , ROUND(SUM(weight))                   AS ttl_units_sold 
FROM biotrackthc_dispensing AS d 
JOIN products AS p ON p.wa_inventory_id = d.inventoryid
WHERE d.deleted = 0 
    AND d.refunded = 0 
    AND p.generic_strain_id = {}
    AND d.sessiontime > '01-01-2016'
GROUP BY date, product_name, generic_strain_id
LIMIT 5;"""
        ).format(1101)

In [5]:
query4 = ("""
SET TIME ZONE '-08';
SELECT 
    CAST(date_trunc('day', d.sessiontime) AS DATE) AS date
    , p.strain_display_name                AS product_name
    , p.generic_strain_id                  AS product_id
    , ROUND(SUM(price))                    AS ttl_sales
    , ROUND(SUM(weight))                   AS ttl_units_sold 
FROM biotrackthc_dispensing AS d 
JOIN products AS p ON p.wa_inventory_id = d.inventoryid
WHERE p.generic_strain_id = {}
    AND d.sessiontime > '01-01-2016'
    AND d.refunded is Null
    AND d.deleted = 0
GROUP BY date, product_name, generic_strain_id;"""
        ).format(2)

In [6]:
print(query2)

SELECT
    date_trunc('day', d.sessiontime)       AS date
    , p.strain_display_name                AS product_name
    , p.generic_strain_id                  AS product_id
    , ROUND(SUM(price))                    AS ttl_sales
    , ROUND(SUM(weight))                   AS ttl_units_sold
FROM biotrackthc_dispensing AS d
JOIN products AS p ON p.wa_inventory_id = d.inventoryid
WHERE d.deleted = 0
    AND d.refunded = 0
    AND p.generic_strain_id = 1101
    AND d.sessiontime > '01-01-2016'
GROUP BY date, product_name, generic_strain_id
LIMIT 5;

In [7]:
query3 = """SELECT * FROM biotrackthc_dispensing LIMIT 5;"""

In [8]:
%%time
df = pd.read_sql_query(query3, conn)

CPU times: user 18.1 ms, sys: 6.25 ms, total: 24.4 ms
Wall time: 2.35 s

In [11]:
%%time
df2 = pd.read_sql_query(query4, conn)

CPU times: user 36.7 ms, sys: 14 ms, total: 50.6 ms
Wall time: 8min 55s

In [12]:
df2

           date product_name  product_id  ttl_sales  ttl_units_sold
0    2016-01-01  Sour Diesel           2    10626.0           701.0
1    2016-01-02  Sour Diesel           2    16515.0          1082.0
2    2016-01-03  Sour Diesel           2     8713.0           583.0
3    2016-01-04  Sour Diesel           2    11920.0           688.0
4    2016-01-05  Sour Diesel           2    12711.0           709.0
5    2016-01-06  Sour Diesel           2    12895.0           720.0
6    2016-01-07  Sour Diesel           2    12882.0           774.0
7    2016-01-08  Sour Diesel           2    19751.0          1172.0
8    2016-01-09  Sour Diesel           2    17600.0          1040.0
9    2016-01-10  Sour Diesel           2    10309.0           631.0
10   2016-01-11  Sour Diesel           2    11228.0           704.0
11   2016-01-12  Sour Diesel           2    10863.0           629.0
12   2016-01-13  Sour Diesel           2    12227.0           699.0
13   2016-01-14  Sour Diesel           2    12333.0           734.0
14   2016-01-15  Sour Diesel           2    19974.0          1224.0
15   2016-01-16  Sour Diesel           2    15629.0          1043.0
16   2016-01-17  Sour Diesel           2    10243.0           663.0
17   2016-01-18  Sour Diesel           2    11712.0           769.0
18   2016-01-19  Sour Diesel           2    11246.0           716.0
19   2016-01-20  Sour Diesel           2    12857.0           757.0
20   2016-01-21  Sour Diesel           2    12408.0           799.0
21   2016-01-22  Sour Diesel           2    17585.0          1120.0
22   2016-01-23  Sour Diesel           2    15877.0           980.0
23   2016-01-24  Sour Diesel           2    10053.0           632.0
24   2016-01-25  Sour Diesel           2    10122.0           691.0
25   2016-01-26  Sour Diesel           2    10064.0           680.0
26   2016-01-27  Sour Diesel           2    10146.0           622.0
27   2016-01-28  Sour Diesel           2     9917.0           698.0
28   2016-01-29  Sour Diesel           2    15956.0          1009.0
29   2016-01-30  Sour Diesel           2    13251.0           920.0
..          ...          ...         ...        ...             ...
640  2017-10-02  Sour Diesel           2    19588.0          1493.0
641  2017-10-03  Sour Diesel           2    21800.0          1614.0
642  2017-10-04  Sour Diesel           2    22440.0          1759.0
643  2017-10-05  Sour Diesel           2    23377.0          1652.0
644  2017-10-06  Sour Diesel           2    30330.0          2167.0
645  2017-10-07  Sour Diesel           2    26363.0          1785.0
646  2017-10-08  Sour Diesel           2    19945.0          1532.0
647  2017-10-09  Sour Diesel           2    17681.0          1351.0
648  2017-10-10  Sour Diesel           2    21288.0          1637.0
649  2017-10-11  Sour Diesel           2    18663.0          1389.0
650  2017-10-12  Sour Diesel           2    20172.0          1521.0
651  2017-10-13  Sour Diesel           2    29646.0          2445.0
652  2017-10-14  Sour Diesel           2    24685.0          1864.0
653  2017-10-15  Sour Diesel           2    18878.0          1450.0
654  2017-10-16  Sour Diesel           2    18048.0          1336.0
655  2017-10-17  Sour Diesel           2    18193.0          1440.0
656  2017-10-18  Sour Diesel           2    18027.0          1396.0
657  2017-10-19  Sour Diesel           2    20385.0          1574.0
658  2017-10-20  Sour Diesel           2    28395.0          2108.0
659  2017-10-21  Sour Diesel           2    23106.0          1808.0
660  2017-10-22  Sour Diesel           2    17678.0          1356.0
661  2017-10-23  Sour Diesel           2    16787.0          1321.0
662  2017-10-24  Sour Diesel           2    17880.0          1357.0
663  2017-10-25  Sour Diesel           2    17864.0          1313.0
664  2017-10-26  Sour Diesel           2    20191.0          1570.0
665  2017-10-27  Sour Diesel           2    26805.0          1973.0
666  2017-10-28  Sour Diesel           2    22800.0          1682.0
667  2017-10-29  Sour Diesel           2    16281.0          1235.0
668  2017-10-30  Sour Diesel           2    16753.0          1320.0
669  2017-10-31  Sour Diesel           2    18930.0          1499.0

[670 rows x 5 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 17 columns):
id                        5 non-null int64
orgid                     5 non-null int64
weight                    5 non-null float64
sessiontime               5 non-null datetime64[ns, UTC]
inventoryid               5 non-null object
transactionid             5 non-null int64
location                  5 non-null int64
price                     5 non-null float64
usableweight              5 non-null float64
itemnumber                5 non-null int64
deleted                   5 non-null int64
refunded                  0 non-null object
transactionid_original    5 non-null int64
inventorytype             5 non-null int64
created                   5 non-null datetime64[ns]
terminal_id               0 non-null object
up_unit_price             0 non-null object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), int64(8), object(4)
memory usage: 752.0+ bytes

In [8]:
df

,id,orgid,weight,sessiontime,inventoryid,transactionid,location,price,usableweight,itemnumber,deleted,refunded,transactionid_original,inventorytype,created,terminal_id,up_unit_price
0,53397639,592,0.0,2016-11-29 23:39:21+00:00,6033556720003336,62512074,548,-30.10,0.0,0,0,None,62512074,24,2016-11-29 15:39:21,None,None
1,53423265,369,0.0,2016-11-30 01:41:48+00:00,6033484270042089,62545275,246,-17.06,0.0,0,0,None,62545275,24,2016-11-29 17:41:48,None,None
2,53435544,560,0.0,2016-11-30 02:26:26+00:00,6033505740071980,62559470,408,-22.20,0.0,0,0,None,62559470,24,2016-11-29 18:26:26,None,None
3,53508390,560,0.0,2016-11-30 22:05:34+00:00,6032711860017961,62688103,408,-19.79,0.0,0,0,None,62688103,24,2016-11-30 14:05:34,None,None
4,53547043,1514,0.0,2016-12-01 01:08:44+00:00,6033423970009056,62741573,1213,-16.09,0.0,1,0,None,62741573,24,2016-11-30 17:08:44,None,None

In [10]:
conn2 = ps2.connect(
            database='statewa', user='wjqioehfjbhsdj',
            password='w1^lso3UBJ*8s!Cv',
            host='uplifthero2.cfzekqlrgx9n.us-east-1.rds.amazonaws.com'
                   )

In [31]:
cur = conn2.cursor()

In [32]:
cur.execute(query3)

In [33]:
cur.fetchall()

[(53547043L,
  1514L,
  Decimal('0'),
  datetime.datetime(2016, 12, 1, 1, 8, 44, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  '6033423970009056',
  62741573L,
  1213L,
  Decimal('-16.09'),
  Decimal('0'),
  1L,
  0,
  None,
  62741573L,
  24,
  datetime.datetime(2016, 11, 30, 17, 8, 44),
  None,
  None),
 (53567519L,
  592L,
  Decimal('0'),
  datetime.datetime(2016, 12, 1, 2, 24, 12, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  '6032271660004271',
  62765256L,
  548L,
  Decimal('-24.62'),
  Decimal('0'),
  0L,
  0,
  None,
  62765256L,
  24,
  datetime.datetime(2016, 11, 30, 18, 24, 12),
  None,
  None),
 (53568374L,
  1787L,
  Decimal('0'),
  datetime.datetime(2016, 12, 1, 2, 41, 30, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  '6033519020002131',
  62766599L,
  1430L,
  Decimal('-8.8'),
  Decimal('0'),
  0L,
  0,
  None,
  62766599L,
  24,
  datetime.datetime(2016, 11, 30, 18, 41, 30),
  None,
  None),
 (53568485L,
  592L,
  Decimal('0'),
  datetime.datetime(2016, 12, 1, 2, 43, 51, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  '6032271660004515',
  62766747L,
  548L,
  Decimal('-24.62'),
  Decimal('0'),
  0L,
  0,
  None,
  62766747L,
  24,
  datetime.datetime(2016, 11, 30, 18, 43, 51),
  None,
  None),
 (53726949L,
  850L,
  Decimal('0'),
  datetime.datetime(2016, 12, 2, 2, 29, 44, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)),
  '6034748420006914',
  62962648L,
  687L,
  Decimal('-27.45'),
  Decimal('0'),
  0L,
  0,
  None,
  62962648L,
  24,
  datetime.datetime(2016, 12, 1, 18, 29, 44),
  None,
  None)]

In [ ]:
cur.close()

In [ ]:
conn2.close()